body{
    padding: 50px !important;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
}

#registration-form{
    max-width: 600px !important;
    margin: 0 auto !important;
    padding: 50px !important;
    box-shadow: rgba(61, 61, 67, 0.2) 0px 7px 29px 0px !important;
    background-color: #444; /* Darker background for form */
    color: #fff; /* White text */
}

.form-group{
    margin-bottom: 30px !important;
}

button {
    background-color: #90ee90; /* Light green buttons */
    color: #fff; /* White text */
    border: none;
}

button:hover {
    background-color: #7ccd7c; /* Darker green when hovered */
}
h1,h2{
    color: #90ee90;
    text-align: center;

}